body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    right: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

section header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

section header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li {
    list-style: none;
    margin-left: 20px;
}

section header ul li a {
    color: #111;
    text-decoration: none;
    font-size: 13px;
}

section header ul li button {
    background: #4584ef;
    border: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.apps {
    width: 28px;
    height: 28px;
}

.logo {
    width: 272px;
    height: 92px;
    position: relative;
    left: 625px;
    top: 180px;
}

.search {
    padding-left: 40px;
    padding-right: 60px;
    outline: none;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 24px;
    height: 40px;
    margin: 160px auto;
    width: 500px;
    position: relative;
    top: 50px;
}

.icon_search {
    width: 25px; 
    height: 25px; 
    position: relative;
    bottom: 168px;
    left: 475px;
    outline: none;
    display: flex; 
}

.voice {
    width: 15px;
    height: 25px;
    outline: none;
    display: flex;
    position: relative;
    bottom: 144px;
    left: 67.5%;
}

.google_search {
    width: 120px;
    height: 40px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    position: relative;
    bottom: 140px;
    left: 625px;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 6px 1px;
    margin: 11px 4px;
}

#SIvCob {
    display: inline-block;
    line-height: 28px;
    width: 200px;
    position: relative;
    bottom: 140px;
    left: 685px;
    font-size: small;
}

#footer {
}
.div {
    position: relative;
    top: 20px;
    border: 1px solid rgb(221, 219, 219);
    background: rgb(238, 236, 236);
    margin-top: 45px;
    height: 40px;
}
ul li {
    display: inline-block;
    margin: 0 5px;
    list-style: none;
    
}
.term {
    margin-left: 84%;
    position: relative;
    color: rgb(143, 143, 143);
}
.term1 {
    position: relative;
    bottom: 30px;
    right: 22px;
    color: rgb(143, 143, 143);
}
.paragraph {
    position: relative;
    top: 65px;
    margin-left: 20px;
    background: rgb(238, 236, 236);
    border: 1px solid rgb(221, 219, 219);
    height: 40px;
    right: 20px;

}
p {
    margin-left: 30px;
    position: relative;
    color: rgb(143, 143, 143);
}


